[user]
	email = loic.mura@datadoghq.com
	name = Loïc Mura
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICBXXoNXrq7e2IW3eyx9qxGJDRvxBWTdDyT6Lsts8A3B

[url "git@github.com:"]
    insteadOf = https://github.com/

# From https://blog.gitbutler.com/how-git-core-devs-configure-git/
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
	mnemonicPrefix = true
	renames = true
[push]
	default = simple
	# autoSetupRemote = true
	followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true
# why the hell not?
# [help]
#        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

[index]
threads = true

# a matter of taste (uncomment if you dare)
[core]
	# fsmonitor = true
	# untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        # conflictstyle = zdiff3 
[pull]
        # rebase = true
# End

[core]
	hooksPath = /usr/local/dd/global_hooks
	pager = delta
	editor = nvim

[help]
	autocorrect = prompt 

[pull]
        rebase = true

[rebase]
	autoStash = true
	autosquash = true

[push]
        autoSetupRemote = true

[interactive]
	diffFilter = delta --color-only --features=interactive
	singlekey = true

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
	line-numbers = true
	syntax-theme = Dracula
	side-by-side = true

[merge]
	tool = vscode
	# conflictstyle = zdiff3

[mergetool "vscode"]
	cmd = code --wait $MERGED

[diff]
	colorMoved = plain 
	# external = difft
[commit]
	gpgSign = true
[gpg]
	format = ssh
[rerere]
	enabled = true
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[gpg "ssh"]
	program = dd-gitsign
	allowedSignersFile = /Users/loic.mura/.config/gitsign/allowed-signers
[dd-gitsign]
	username = loic-mura
[tag]
	gpgSign = true

[alias]
	default-branch = !git rev-parse --abbrev-ref origin/HEAD | cut -b 8-
	current-branch = !git branch --show-current
	# List commits made since forking the main branch
	changes = !git log --oneline origin/$(git default-branch)..
	update-branch = !git pull --rebase origin $(git default-branch)
	update-branch-green = !git pull --rebase origin green
	update-branch-interactive = !git fetch origin $(git default-branch) && git rebase -i origin/$(git default-branch)
	root = !git rev-parse --show-toplevel
	add-proto = !git add -p ":/:*.proto" && git add ":/:*/proto/*"
	review = !"git fetch -f origin $1:$1 && git switch -d $1 #"
	rebase-branch = !"git fetch origin $(git default-branch) && git rebase origin/$(git default-branch) $1 #"
	restore-all = !git restore --staged $(git root)
    # -- stacked branches aliases, from https://andrewlock.net/pushing-a-whole-stack-of-branches-with-a-single-git-command/
    #
    # if "fatal: ref refs/remotes/origin/HEAD is not a symbolic ref", run "git remote set-head origin --auto"
    # to set the default branch for origin
    # list stack of branches -- list all branches between merge-base and target branch
    stack = "!f() { \
        BRANCH=${1-HEAD}; \
        MERGE_BASE=$(git merge-base $BRANCH origin/$(git default-branch)); \
        git log --decorate-refs=refs/heads --simplify-by-decoration --pretty=format:\"%(decorate:prefix=,suffix=,tag=,separator=%n)\" $MERGE_BASE..$BRANCH; \
    };f "
    # push all branches of a stack in one command
	push-stack = "!f() { \
        BRANCH=${1-HEAD}; \
        git push --atomic --force-with-lease origin $(git stack $BRANCH | tr '\n' ' '); \
    };f "
[sendpack]
	sideband = true
[maintenance]
	repo = /Users/loic.mura/go/src/github.com/DataDog/dd-source
